body {
    background-color: #282828;
}
.header {
    text-align: center;
    color: #9e3131;
}
#search {
   text-align: center;
}
.result-list.div.musician {
    background-color: rgb(94, 93, 93);
    color: #ddd;
    padding: 1em;
    margin-left: 240px;
    margin-bottom: 1em;
    text-align: center;
    background-position: center;
    width: 400px;
}
.clicked-list.div.clickedMusician {
    background-color: rgb(94, 93, 93);
    color: #ddd;
    padding: 1em;
    margin-left: 750px;
    margin-bottom: 1em;
    text-align: center;
    background-position: center;
    width: 400px;
}
::marker {
    color: #282828;
}
.row {
    display: flex;
}
.result-list {
    flex: 50%;
}
.clicked-list {
    flex: 50%;
}