body {
    background-color: #282828;
}
.header {
    text-align: center;
    color: #9e3131;
}
#search {
   text-align: center;
}
::marker {
    color: #282828;
}
.row {
    display: flex;
}
.result-list {
    color: white;
    flex: 50%;
   
    text-align: center;
    background-position: center;
    width: 400px;
    
}
.clicked-list {
    color: white;
    flex: 50%;
    text-align: center;
    background-position: center;
    width: 400px;
    margin-top: 20px;
}
div.musician {
    padding: 1em;
    margin-bottom: 1em;
    background-color: rgb(94, 93, 93);
    margin-left: 100px;
}
div.clickedMusician {
    padding: 1em;
    margin-bottom: 1em;
    background-color: rgb(94, 93, 93);
    margin-left: 100px;
}